
.tabla-cajas{
    width: 500px;
    margin-top:10px;
    margin-bottom:5px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

td, th {
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-nueva-caja input{
    margin-right: 5px;
    padding: 5px;
}

.form-nueva-caja-spanDuplicado-visible{
    visibility: visible;
    color:brown;
}

.form-nueva-caja-spanDuplicado-oculto{
    visibility: hidden;
}

.divCargando{
    font-size:12px;
    height: 20px;
}

.form-nueva-caja{
    margin-top:0px;
}

.form-nueva-caja button {
    padding: 5px;
}

.divChart{
    margin-top:10px;
    width: 500px;
}

.divTablaGrafico{
    margin-top: 10px;
}

.divTablaGrafico{
    display: flex;
    justify-content: center;
}

.divTablaGrafico button {
    padding: 5px;
    width: 80px;
    display: flex;
    justify-content:space-around
}

.divTablaGrafico button:first-child {
    margin-right: 5px;
}


.iconoBoton{
    padding: 5px;
}


.columnaNombre{
    min-width:200px;
    max-width: 200px;
    overflow-x :auto;
    /* overflow-x: hidden; */
    padding-top: 0px;
    padding-bottom: 0px;
}

/*A estos ajustes del scroll los saque de gpt*/
    ::-webkit-scrollbar {
    height: 5px; /* Ancho de la barra de desplazamiento */
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo de la barra de desplazamiento */
  }
  
  /* Puntero de la barra de desplazamiento */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color del puntero de la barra de desplazamiento */
    border-radius: 10px; /* Radio de borde del puntero de la barra de desplazamiento */
  }


.columnaSaldo{
    min-width:200px;
    max-width: 200px;
}

.columnaEliminar{
    min-width: 100px;
    max-width: 100px;
}