
.tabla-cajas{
    width: 500px;
    margin-top:10px;
    margin-bottom:5px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.tabla-cajas button {
    padding: 0 10px;
}

.tabla-cajas td, .tabla-cajas th {
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*por alguna razon estos estilos se comparten en los componentes caja y movimientos, ver por que */
.tabla-cajas th {
    background-color: rgb(87, 85, 82);
}

.tabla-cajas tr:hover {
    background-color: rgb(87, 85, 82);
}

.form-nueva-caja input{
    margin-right: 5px;
    padding: 5px;
}

.form-nueva-caja-spanDuplicado-visible{
    visibility: visible;
    color:brown;
}

.form-nueva-caja-spanDuplicado-oculto{
    visibility: hidden;
}

.divCargando{
    font-size:12px;
    height: 20px;
}

.form-nueva-caja{
    margin-top:0px;
}

.form-nueva-caja button {
    padding: 5px;
}

.divChart{
    margin-top:10px;
    width: 500px;
}

.divTablaGrafico{
    margin-top: 10px;
}

.divTablaGrafico{
    display: flex;
    justify-content: center;
}

.divTablaGrafico button {
    padding: 5px;
    width: 80px;
    display: flex;
    justify-content:space-around
}

.divTablaGrafico button:first-child {
    margin-right: 5px;
}


.iconoBoton{
    padding: 5px;
}


.columnaNombre{
    min-width:200px;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    
    /* overflow-x: hidden; */
    /* padding-top: 0px;
    padding-bottom: 0px; */
}
 .p-nombre {
    text-overflow: ellipsis;
    overflow: hidden;
 }


/*A estos ajustes del scroll los saque de gpt*/

    /* ::-webkit-scrollbar {
    height: 55px; 
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
  } */


.columnaSaldo{
    min-width:200px;
    max-width: 200px;
}

.columnaEliminar{
    min-width: 100px;
    max-width: 100px;
}

@media only screen and (max-width: 550px){

    .tabla-cajas{
        max-width: 300px;
    }

    .tabla-cajas td, .tabla-cajas th {
        height: 50px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .columnaNombre{
        min-width:150px;
        max-width: 150px;
    }

    .columnaSaldo{
        min-width: 100px;
        max-width: 100px;
    }
    
    .columnaEliminar{
        min-width: 50px;
        max-width: 50px;
    }




}