
.tabla-cajas{
    width: 500px;
    margin-top:10px;
    margin-bottom:5px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

td, th {
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-nueva-caja input{
    margin-right: 5px;
    padding: 5px;
}

.form-nueva-caja-spanDuplicado-visible{
    visibility: visible;
    color:brown;
}

.form-nueva-caja-spanDuplicado-oculto{
    visibility: hidden;
}

.divCargando{
    font-size:12px;
    height: 20px;
}

.form-nueva-caja{
    margin-top:0px;
}

.form-nueva-caja button {
    padding: 5px;
}

.divChart{
    margin-top:10px;
    width: 500px;
}

.divTablaGrafico{
    margin-top: 10px;
}

.divTablaGrafico{
    display: flex;
    justify-content: center;
}

.divTablaGrafico button {
    padding: 5px;
    width: 80px;
    display: flex;
    justify-content:space-around
}

.divTablaGrafico button:first-child {
    margin-right: 5px;
}


.iconoBoton{
    padding: 5px;
}