
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteiner {
  width: 420px;
  background-color: rgb(50, 38, 50);
  color: #ffff;
  display:flex;
  justify-content: center;
  min-height: 200px;
}

.conteiner h1 {
  font-size: 36;
  text-align: center;
  padding: 5px;
}

.input-div {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 5px;
  gap: 4px;
}

.input-div input {
  height: 100%;
  color:rgb(247, 241, 241);
  background: transparent;
  border:none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  padding: 4px;
  padding-left: 10px;
}



.conteinerCampos{
  max-width: 300px;
}

.btn {
  font-size: 15px;
  width: 100%;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom : 5px;
}

.divespacio{
  font-size: 15px;
  color: rgb(50, 38, 50);
}

.divError{
  font-size: 15px;
}

.registro-div{
  padding: 5px;
}

.registro-div a{
  font-size: 18px;
  color:rgb(199, 165, 230)
}

.registro-div a:hover{
  color:rgb(109, 78, 139)
}