.tabla-movimientos{
    width: 700px;
    margin-top:50px;
    margin-bottom:20px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.tabla-movimientos button {
    padding-left: 2px;
    padding-right: 2px;
}

td, th {
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 5px;
}

.form-nuevo-movimiento input{
    margin-right: 5px;
}


.divNuevoMov{
    padding: 10px;
}

.divNavegacionPaginas button {
    margin: 2px;
    padding: 0 20px;
}


.columnaFecha{
    width: 150px;
}

.font-columnaFecha{
    font-size: 12px;
}

.columnaConcepto{
    min-width:200px;
    max-width: 200px;
    overflow-x :auto;
}

.columnaValor{
    min-width: 150px;
    max-width: 150px;
}

.columnaEliminar{
    max-width: 90px;
    min-width: 90px;
}

.columnaCaja{
    width: 150px;
}

.font-columnaCaja{
    font-size: 15px;
}

.errorInputVisible{
    color: red; 
    display: block;
}

.errorInputOculto{
    display: none;
}

.divNuevoMov button{
    padding: 5px;
    margin-left: 5px;
}

.divNuevoMov input {
    padding: 5px;
}

.divNuevoMov select {
    padding: 5px;
    min-width: 100px;
    text-align: center;
}

.ingreso {
    background-color: green;
    width: 70px;
}

.egreso {
    background-color: red;
    width: 70px;
}

.divSignomas{
    color: rgb(178, 231, 178);
    display: inline;
    width: 20px;
}
.divSignomenos{
    color: rgb(245, 167, 167);
    display: inline;
    width: 20px;
}

