.tabla-movimientos{
    width: 700px;
    margin-top:50px;
    margin-bottom:5px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.tabla-movimientos button {
    padding-left: 2px;
    padding-right: 2px;
}

td, th {
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-nuevo-movimiento input{
    margin-right: 5px;
}


.divNuevoMov{
    padding: 10px;
}

.divNavegacionPaginas button {
    margin-top: 5px;
    margin: 2px;
    padding: 0 20px;
}


.columnaFecha{
    width: 150px;
}

.font-columnaFecha{
    font-size: 12px;
}

.columnaConcepto{
    min-width:200px;
    max-width: 200px;
    overflow-x :auto;
    /* overflow-x: hidden; */


}

.columnaValor{
    min-width: 150px;
    max-width: 150px;
}

.columnaEliminar{
    max-width: 90px;
    min-width: 90px;
}

.columnaCaja{
    min-width: 150px;
    max-width: 150px;
    overflow-x :auto;
}

.font-columnaCaja{
    font-size: 15px;
}

.errorInputVisible{
    color: red; 
    display: block;
}

.errorInputOculto{
    display: none;
}

.divNuevoMov button{
    padding: 5px;
    margin-left: 5px;
}

.divNuevoMov input {
    padding: 5px;
}

.divNuevoMov select {
    padding: 5px;
    min-width: 100px;
    max-width: 100px;
    text-align: center;
    overflow: hidden;
}

.divNuevoMov option {
    max-width: 100px;
    overflow: hidden; /* Ocultar el texto que excede el ancho máximo */
    text-overflow: ellipsis; /* Mostrar puntos suspensivos (...) cuando el texto se corta */
    white-space: nowrap; /* Evitar el salto de línea del texto */
}

.ingreso {
    background-color: green;
    width: 70px;
}

.egreso {
    background-color: red;
    width: 70px;
}

.divSignomas{
    color: rgb(178, 231, 178);
    display: inline;
    width: 20px;
}
.divSignomenos{
    color: rgb(245, 167, 167);
    display: inline;
    width: 20px;
}


.divCargando{
    font-size:12px;
    height: 20px;
}




/*estos ajustes del scroll los saque de gpt*/
::-webkit-scrollbar {
    height: 5px; /* Ancho de la barra de desplazamiento */
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo de la barra de desplazamiento */
  }
  
  /* Puntero de la barra de desplazamiento */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color del puntero de la barra de desplazamiento */
    border-radius: 10px; /* Radio de borde del puntero de la barra de desplazamiento */
  }